.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

nav .brand-logo {
    padding-left: 2em;
}

ul#nav-mobile {
    padding-right: 2em;
}

a {
    color: #212121;
}

h5 {
    font-size: 1.2em;
}

footer {
    position: absolute;
    width: 100%;
}

.card-content a {
  color:  #2196F3 !important;
}

.card-content a:hover {
  color:  white;
  text-decoration: underline;
}